* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html {
    scroll-behavior: smooth;
  }
.contenedor-fotos img {
    width: 200px;
    height: 200px;
}
#open {
    display: none;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    height: 100vh;
}

.contenedor p {
    text-align: center;
}

.titulo {
    color: #00c9ff;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
}

header {
    width: 100%;
    height: 100vh;
    background: #00c9ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92fe9d, #00c9ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #92fe9d,
        #00c9ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
}

.navbar {
    background: #00c9ff !important; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92fe9d, #00c9ff) !important; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #92fe9d,
        #00c9ff
    ) !important;
}

/* .menu {
    text-align: right;
    padding: 30px 50px 0 0;
    
} */

/* .menu > a {
    color: black;
    font-weight: 300;
    text-decoration: none;
    margin-right: 1em;
    padding-bottom: 0.4em;
    transition: text-decoration 0.3s;

    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
} */

nav a {
    background-image: linear-gradient(currentColor, currentColor) !important;
    background-position: 0% 100% !important;
    background-repeat: no-repeat !important; 
    background-size: 0% 2px !important;
    transition: background-size .3s !important;
}

nav a:hover {
    font-weight: 900 !important;
    background-size: 100% 2px !important;
}

/* .menu > a:hover {
    font-weight: 900;
    background-size: 100% 2px;
} */

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

header .texto-cabecera {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 430px;
    width: 100%;
    flex-direction: column;
}

.texto-cabecera h1 {
    font-size: 50px;
}

/* SOBRE NOSOTROS */

main .sobre-mi {
    padding: 60px 0 60px 0;
}
.contenedor-sobre-mi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor-textos > p {
    margin-bottom: 1em;
    font-size: 1em;
    text-align: justify;
}
.contenedor-sobre-mi > p {
    font-style: italic;
    margin-top: 4em;
}

.imagen-sobre-mi {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    /* : 300px; */
}

.sobre-mi .contenedor-textos {
    width: 70%;
}

.contenedor-textos h3 {
    margin-bottom: 1em;
}

.content-sobre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
}

@media (max-width: 661px){
    .content-sobre {
        flex-direction: column;
    }
}

/* PROYECTOS */

.mis-proyectos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80%;
}

a.pro {
    text-decoration: none;
    color: black;
}

.pro {
    height: 200px;
    width: 50%;
    max-width: 300px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    margin: 1em;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 1);
    box-shadow: 0px 0px 5px 0px rgba(168, 168, 168, 1);
    transition: transform, background-color, 0.4s, 0.4s;
}

.pro:hover {
    /* border: 1px solid black; */
    transform: scale(1.15,1.15);
    -moz-transform: scale(1.15,1.15);
    -o-transform: scale(1.15,1.15);
    -ms-transform: scale(1.15,1.15);
    -webkit-transform: scale(1.15,1.15);
    background-color: #B8FFBF;
}


.img-proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}
.pro img {
    height: 100px;
    margin-bottom: 1em;
    /* height: 50px; */
}

/* SKILLS */
#skills {
    background-color: #f2f2f2;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.skill {
    width: 30%;
    min-width: 100px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill > img {
    width: 40%;
    max-width: 200px;
    margin-bottom: 1em;
}

/* CONTACTAME */
#contactame {
    background-color: #303030;
}

.mi-formulario {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 80%;
    
}

.f-colum{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.f-colum > a { 
    background-color: #92fe9d;
    border: 1px solid #92fe9d;
    padding: 1em;
    border-radius: 2px;
    text-decoration: none;
    color: black;
}

.f-colum > p {
    margin-bottom: 2em;
}
.f-colum > div > a :hover {
    transform: scale(1.4,1.4);
    color: #00c9ff;
    
}


.f-colum > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mi-formulario i{
    color: white;
    font-size: 40px;
    margin-left: 1em;
    margin-right: 1em;
    transition: transform, color, 0.3s, 0.3s;
}
/* FOOTER */

footer {
    /* background-color: rgb(46, 46, 46); */
    background-color: #303030;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > h2 {
    color: white;
    font-size: 15pt;
    text-align: center;
}

.contenedor-fotos {
    width: 230px;
    margin-bottom: 1em;
    margin-right: 1em;
}

/* MEDIAS */

@media (max-width:1024px) {
    .pro {
        min-width: 150px;
        height: 200px;
    }

    .img-proyecto {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
    }
    .pro img {
        height: 100px;
        margin-bottom: 1em;
        
    }
}

/* TABLETS */

@media (max-width: 768px) {
    .pro img {
        width: 100px;
        height: 70px;
        margin-bottom: 1em;
    }

    .pro {
        height: 200px;
    }

    .contenedor p {
        font-size: 10pt;
    }
}

@media (max-width: 578px) {
    .mis-proyectos {
        flex-direction: column;
    }

    .pro {
        flex-direction: row;
        height: 150px;
        width: 100%;
    }

    .pro img {

        margin-bottom: 0;
        margin-right: 1em;
    }
}
@media (max-width: 553px) {
    .contenedor-textos {
        font-size: 10pt;
    }

    .contenedor-sobre-mi > p {
        font-size: 1em;
        margin: 1.3em;
    }
}

/* MOVILES */

@media (max-width: 425px) {
    .titulo {
        margin-bottom: 1em;
        margin-top: 0.5em;
    }

    .pro {
        margin: 0.5em;
        width: 100%;
        height: 100px;
    }

    .content-sobre  p {
        font-size: calc(0.7em + 1vw);
        margin: 1em;
    }
}

@media (max-width: 320px) {
    .titulo {
        margin-bottom: 1em;
    }
    .contenedor-textos {
        font-size: 8pt;
    }

    .contenedor-fotos img {
        height: 100px;
    }
    .contenedor-fotos {
        width: 100px;
    }
}


@media (max-width: 425px) and (max-height: 640px) {
    .contenedor-fotos img {
        height: 100px;
    }
    .contenedor-fotos {
        width: 100px;
    }
}

@media (max-width: 425px) and (max-height: 500px) {
    .contenedor-fotos {
        display: none;
    }
}